@font-face {
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode';
    src: url('../../Fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: rgb(42, 42, 42);
    color: rgb(221, 221, 221);
    user-select: none;
}

.font-fira_code {
    font-family: 'FiraCode', serif;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.app-page {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 0;
    justify-content: center;
    height: 30px;
    top: 0;
    position: sticky;
    z-index: 1;
    margin-top: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6e6876;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(51, 147, 255);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(51, 147, 255);
}

input:checked + .slider:before {
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.hidden {
    display: none;
}


.table-holder {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: rgb(32, 30, 35);
    border: 1px solid rgb(46, 43, 49);
    border-radius: 10px;
    color: rgb(186, 180, 194);
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 4px;
    border-bottom: 1px dotted rgb(126, 120, 133);
    font-size: 1.05rem;
}

.last {
    border-bottom: none;
}

.table-row:hover {
    filter: brightness(1.2);
    background: rgb(46, 43, 49);
}


.table-row-name {
    width: 400px;
    padding-right: 5px;
    text-align: left;
}

.table-row-val {
    padding: 5px;
    background: rgb(32, 30, 35);
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 300px;
    font-size: 1rem;
    color: rgb(186, 180, 194);
}

.table-row-text {
    padding: 5px;
    font-size: 1rem;
    color: rgb(186, 180, 194);
}

.swal2-modal {
    background: rgb(32, 30, 35) !important;
    border: 3px solid #bdbdbd !important;
    color: rgb(221, 221, 221) !important;
}

