:root {
    --darker_gray: rgb(21, 21, 21);
    --dark_gray: rgb(46, 43, 49);
    --light_gray: rgb(110, 104, 118);
    --mid_gray: rgb(186, 180, 194);
    --lighter_gray: rgb(221, 221, 221);
    --blue_gray: rgb(32, 30, 35);
    --bright_blue: rgb(51, 147, 255);
    --indicator_gray: rgb(144, 148, 148);
    --indicator_light_gray: rgb(233, 235, 255);
    --indicator_blue: rgb(51, 147, 255);
    --indicator_red: rgb(218, 67, 67);
    --indicator_green: rgb(39, 211, 92);
    --lighter_blue: rgb(231, 231, 255);
    --light_blue: rgb(192, 189, 209);
    --blue_white: rgb(212, 206, 221);
}

.theme-light{
    --bg_color: var(--light_blue);
    --text_color: var(--light_gray);

    --accent_bg: var(--lighter_blue);
    --accent_frames: var(--light_gray);
    --accent_borders: var(--lighter_gray);
    --accent_main: var(--bright_blue);

    --indicator_active: var(--indicator_blue);
    --indicator_inactive: var(--indicator_light_gray);
    --indicator_enabled: var(--indicator_green);
    --indicator_disabled: var(--indicator_red);

    --table_bg_color: var(--blue_white);
    --table_text_color: var(--light_gray);
}

.theme-dark{
    --bg_color: var(--dark_gray);
    --text_color: var(--lighter_gray);

    --accent_bg: var(--darker_gray);
    --accent_frames: var(--light_gray);
    --accent_borders: var(--lighter_gray);
    --accent_main: var(--bright_blue);

    --indicator_active: var(--indicator_blue);
    --indicator_inactive: var(--indicator_gray);
    --indicator_enabled: var(--indicator_green);
    --indicator_disabled: var(--indicator_red);

    --table_bg_color: var(--blue_gray);
    --table_text_color: var(--mid_gray);
}

@font-face {
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode';
    src: url('../../Fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: var(--bg_color);
    color: var(--text_color);
    user-select: none;
}

.font-fira_code {
    font-family: 'FiraCode', serif;
}


.app-container {
    display: flex;
    flex-direction: column;
}

.app-page {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 0;
    justify-content: center;
    height: 30px;
    top: 0;
    position: sticky;
    z-index: 1;
    margin-top: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent_frames);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: var(--accent_borders);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--accent_main);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent_main);
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.hidden {
    display: none;
}

.table-holder {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--table_bg_color);
    border: 2px solid var(--bg_color);
    border-radius: 10px;
    color: var(--table_text_color);
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 4px;
    border-bottom: 2px dotted var(--bg_color);
    font-size: 1.05rem;
}

.table-row-high{
    height: 45px;
}

.last {
    border-bottom: none;
}

.table-row:hover {
    filter: brightness(1.2);
    background: var(--bg_color);
}


.table-row-name {
    width: 400px;
    padding-right: 5px;
    text-align: left;
}

.table-row-val {
    padding: 5px;
    background: var(--table_bg_color);
    border: 2px solid var(--accent_frames);
    border-radius: 5px;
    width: 300px;
    font-size: 1rem;
    color: var(--table_text_color);
}

.swal2-modal {
    background: var(--table_bg_color) !important;
    border: 3px solid var(--accent_frames) !important;
    color: var(--text_color) !important;
}

