.appbar-holder{
    height: 52px;
    width: 100vw;
    background-color: rgb(21, 21, 21);
    padding: 5px;
    display: flex;
    flex-direction: row;
    user-select: none;
    overflow: hidden;
}

.appbar-holder:hover{
    height: 71px;
}

.icon-inverted{
    filter: invert(100%);
}

.img-toast-lower{
    position: absolute;
    top: 35px;
    right: -5px;
    background: #151515;
    border-radius: 6px;
    color: rgb(51, 147, 255);
    filter: brightness(1.5);
}

.appbar-icon-item{
    margin-right: 16px;
    cursor: pointer;
    filter: brightness(0.85);
}

.appbar-icon-item:hover{
    filter: brightness(1.2);
}

.appbar-img-icon{
    height: 54px;
}

.appbar-separator{
    border-right: 2px solid white;
    border-radius: 2px;
    margin-right: 16px;
}

.appbar-description{
    margin: -6px 0 0 3px;
}

.appbar-ping-value{
    position: absolute;
    top: 7px;
    left: 6px;
    font-size: 0.7rem;
}

.appbar-charge-value{
    color: #151515;
    position: absolute;
    top: 16px;
    right: 8px;
    font-size: 18px;
}

.appbar-charge-icon{
    transform: scale(1.1);
}

.appbar-status{
    font-size: 40px;
}
