.flybar-holder{
    position:absolute;
    top: 100px;
    left: 12px;
    height: 384px;
    width: 82px;
    background-color: rgb(21, 21, 21);
    padding: 5px;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 7px;
    z-index: 1;
}

.flybar-heading{
    font-size: 25px;
    margin-left: 10px;
}

.fb-icon-item{
    margin-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    filter: brightness(0.75);
}

.fb-icon-active{
    filter: brightness(1.15);
}

.fb-icon-active:hover{
    filter: brightness(1.4);
}

.fb-icon-item:hover .hidden{
    display: block;
}

.flybar-img-icon{
    height: 62px;
}

.flybar-separator{
    border-bottom: 2px solid white;
    border-radius: 2px;
    margin-bottom: 12px;
    width: 92px;
    margin-left: -5px;
}

.flybar-description{
    margin: -1rem 0 0 0.4rem;
}

.fb-indicator-active{
    border: 5px solid rgb(51, 147, 255);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-inactive{
    border: 5px solid rgb(144, 148, 148);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-disabled{
    border: 5px solid rgb(218, 67, 67);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-enabled{
    border: 5px solid rgb(39, 211, 92);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.flybar-takeoff-message{
    position: fixed;
    bottom: 20px;
    font-size: 40px;
    text-align: center;
    background: rgba(21, 21, 21, 0.6);
    left: 20px;
    right: 20px;
}

.hidden{
    display: none;
}
