.fb-holder {
    position: absolute;
    top: 100px;
    left: 12px;
    height: 384px;
    width: 82px;
    background-color: var(--accent_bg);
    padding: 5px;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 7px;
    z-index: 1;
}

.fb-item {
    margin-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    filter: brightness(0.75);
}

.fb-item-active {
    filter: brightness(1.15);
}

.fb-item-active:hover {
    filter: brightness(1.4);
}

.fb-item:hover .hidden {
    display: block;
}

.fb-item-icon {
    height: 62px;
}

.theme-light .fb-item-icon{
    filter: invert(1);
}

.fb-separator {
    border-bottom: 2px solid var(--text_color);
    border-radius: 2px;
    margin-bottom: 12px;
    width: 92px;
    margin-left: -5px;
}

.fb-indicator-active {
    border: 5px solid var(--indicator_active);
    background: var(--indicator_active);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-inactive {
    border: 5px solid var(--indicator_inactive);
    background: var(--indicator_inactive);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-disabled {
    border: 5px solid var(--indicator_disabled);
    background: var(--indicator_disabled);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-enabled {
    border: 5px solid var(--indicator_enabled);
    background: var(--indicator_enabled);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-alert-message {
    position: fixed;
    bottom: 20px;
    font-size: 40px;
    text-align: center;
    background: var(--accent_bg);
    opacity: 0.7;
    right: 20px;
    left: 420px;
    z-index: 5;
}

.fb-manual-help{
    position: fixed;
    bottom: 130px;
    font-size: 40px;
    width: 800px;
    height: 230px;
    background-color: var(--accent_dark);
    padding: 8px;
    border-radius: 7px;
    opacity: 0.1;
}

.fb-manual-help:hover{
    opacity: 1;
    filter: brightness(1.2);
}

.fb-manual-help-img{
    width: 100%;
}
