.fb-holder {
    position: absolute;
    top: 100px;
    left: 12px;
    height: 384px;
    width: 82px;
    background-color: rgb(21, 21, 21);
    padding: 5px;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 7px;
    z-index: 1;
}

.fb-item {
    margin-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    filter: brightness(0.75);
}

.fb-item-active {
    filter: brightness(1.15);
}

.fb-item-active:hover {
    filter: brightness(1.4);
}

.fb-item:hover .hidden {
    display: block;
}

.fb-item-icon {
    height: 62px;
}

.fb-separator {
    border-bottom: 2px solid white;
    border-radius: 2px;
    margin-bottom: 12px;
    width: 92px;
    margin-left: -5px;
}

.fb-indicator-active {
    border: 5px solid rgb(51, 147, 255);
    background: rgb(51, 147, 255);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-inactive {
    border: 5px solid rgb(144, 148, 148);
    background: rgb(144, 148, 148);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-disabled {
    border: 5px solid rgb(218, 67, 67);
    background: rgb(218, 67, 67);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-indicator-enabled {
    border: 5px solid rgb(39, 211, 92);
    background: rgb(39, 211, 92);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.fb-alert-message {
    position: fixed;
    bottom: 20px;
    font-size: 40px;
    text-align: center;
    background: rgba(21, 21, 21, 0.6);
    left: 20px;
    right: 20px;
    z-index: 5;
}

.fb-manual-help{
    position: fixed;
    bottom: 20px;
    font-size: 40px;
    width: 800px;
    height: 230px;
    background-color: rgb(21, 21, 21);
    padding: 8px;
    border-radius: 7px;
    opacity: 0.1;
}

.fb-manual-help:hover{
    opacity: 1;
    filter: brightness(1.2);
}

.fb-manual-help-img{
    width: 100%;
}
