.vs-fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 62px;
}

.vs-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 62px;
}

.vs-iframe {
    width: 100vw;
    height: calc(100vh - 62px);
    border: 0;
    /*margin-top: 62px;*/
}

.vs-bar {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    width: 280px;
    height: 100px;
    background-color: rgb(21, 21, 21);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.vs-bar-item {
    width: 80px;
    height: 80px;
    background: rgb(42, 42, 42);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: brightness(0.75);
}

.icon-cam {
    width: 74px;
}

.icon-record {
    width: 90px;
    margin-top: 2px;
}

.icon-photo {
    width: 56px;
    margin-top: 9px;
}

.vb-item-active {
    filter: brightness(1.15);
}

.vb-item-active:hover {
    filter: brightness(1.4);
}

.vb-indicator-active {
    border: 5px solid rgb(51, 147, 255);
    background: rgb(51, 147, 255);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.vb-indicator-inactive {
    border: 5px solid rgb(144, 148, 148);
    background: rgb(144, 148, 148);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.vb-indicator-disabled {
    border: 5px solid rgb(218, 67, 67);
    background: rgb(218, 67, 67);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.vb-indicator-enabled {
    border: 5px solid rgb(39, 211, 92);
    background: rgb(39, 211, 92);
    height: 0;
    width: 72px;
    border-radius: 2px
}
