.vb-fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 62px;
}

.vb-cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 62px;
}

.vb-iframe {
    width: 100vw;
    height: calc(100vh - 62px);
    border: 0;
}

.vb-holder {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 100px;
    background-color: var(--accent_bg);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.vb-item {
    width: 80px;
    height: 80px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: brightness(0.75);
}

.vb-item-icon-camera {
    width: 74px;
}

.vb-item-icon-record {
    width: 85px;
    margin-top: 6px;
    margin-left: 3px;
}

.vb-item-icon-photo {
    width: 56px;
    margin-top: 9px;
}

.vb-item-icon-mode {
    width: 60px;
    margin-top: 7px;
    margin-bottom: 6px;
}

.vb-item-active {
    filter: brightness(1.15);
}

.vb-item-active:hover {
    filter: brightness(1.4);
}

.vb-indicator-active {
    border: 5px solid var(--indicator_active);
    background: var(--indicator_active);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.vb-indicator-inactive {
    border: 5px solid var(--indicator_inactive);
    background: var(--indicator_inactive);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.vb-indicator-disabled {
    border: 5px solid var(--indicator_disabled);
    background: var(--indicator_disabled);
    height: 0;
    width: 72px;
    border-radius: 2px
}

.vb-indicator-enabled {
    border: 5px solid var(--indicator_enabled);
    background: var(--indicator_enabled);
    height: 0;
    width: 72px;
    border-radius: 2px
}
